<%- include('partials/header'); -%>
<div class="container mt-5">
  <h1>Login</h1>

  <% if (locals.error) { %>
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
  <% } %>
  <form action="/users/login" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p>Don't have an account? Sign up <a href="/users/signup">here</a></p>
</div>
<%- include('partials/footer'); -%>
